.cache/
.config/
.docker/
.gemini/
.gsutil/
.ipynb_checkpoints/
.ipython/
.jupyter/
.kube/
.local/
.npm/
.ssh/
.bash_history
.gitconfig
.lastactive
.lesshst
.sudo_as_admin_successful
backup_files/
iris_feast/
mlflow-artifacts/
mlflow.log
feast.ipynb
*.log
__pycache__/
*.pyc
model.joblib
